.registrations--margin
  %h2.registrations--form
    プロフィール変更
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    .errors_message
      = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      = f.label :変更したいをパスワード
      %br/
      = f.password_field :password, autocomplete: "new-password"
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          文字以上
    .field
      = f.label :もう一度パスワードを入力
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .field
      = f.label :現在のパスワードを入力
      %br/
      = f.password_field :current_password, autocomplete: "current-password"
    .actions
      .update
        #{button_to "アカウントの情報を変更", registration_path(resource_name), class: "edit-margin", method: :update}
      .delete
        #{button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "本当に？" }, class: "edit-margin", method: :delete}
  = link_to "戻る", :back, class: "edit-back-margin"
